.header {
  height: 65px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  img {
    margin-top: 5px;
  }
  input {
    float: right;
    margin-top: 15px;
  }
  #s-in {
    width: 200px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    border: none;
    background: #666;
    color: #fff;
    text-indent: 1em;
  }
  #s-button {
    border: none;
    width: 65px;
    margin-left: 2px;
    border-radius: 4px;
    height: 25px;
    background: #C43E3E;
    color: #fff;
    font-family: "MicroSoft Yahei";
    cursor: pointer;
  }
}