* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

body {
    padding-top: 50px;
    background: #F0F0F0;
    font-family: "MicroSoft YaHei";
}

.clear {
    zoom: 1;
    &:after {
        height: 0;
        visibility: hidden;
        content: '';
        clear: both;
        display: block;
    }
}

.header {
    position: fixed;
    z-index: 999;
    background: #333;
    width: 100%;
    min-width: 1000px;
    height: 50px;
    background: #333;
    margin-top: -50px;
    overflow: hidden;
    .logo {
        background: url(../images/logo.png) center;
        background-size: cover;
        display: block;
        width: 82px;
        height: 36px;
        margin-top: 5px;
        margin-right: 50px;
    }
    input {
        margin-top: 15px;
    }
    .search {
        float: right;
        margin-right: 5em;
    }
    #s-in {
        width: 200px;
        height: 25px;
        line-height: 25px;
        border: none;
        background: #666;
        color: #b8b8b8;
        text-indent: 16px;
        outline: none;
    }
    #s-button {
        border: none;
        width: 65px;
        height: 25px;
        background: #225181;
        cursor: pointer;
        color: #c2c1c1;
        margin-left: -5px;
    }
    .nav {
        float: left;
        padding-left: 100px;
        li {
            float: left;
            a {
                display: block;
                padding: 0 1em;
                text-align: center;
                height: 50px;
                line-height: 50px;
                color: #fff;
                font-size: 18px;
            }
        }
    }
}
