* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background: #333;
  font-family: "MicroSoft YaHei";
}

@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.clear {
  zoom: 1;
  &:after {
    height: 0;
    visibility: hidden;
    content: '';
    clear: both;
    display: block;
  }
}

@import "header";
.content {
  background: #fff;
  padding: 75px 0 10px 0;
}

@import "scrollImage";
@import "navbar";
@import "part1";
@import "part2";
@import "footer";