.part2{
    width: 1000px;
    margin: 0 auto;
    
    h3{
        border-bottom: 5px solid #cb3131;
        margin-bottom: 1em;
        border-radius: 4px;
    }
    .cars{
        float: left;
        width: 326px;
        height: 250px;
        margin: 3px;
    }
}



#dis_1{
    background: url(../images/dis-1.jpg) center;
    background-size: cover;
}

#dis_2{
    background: url(../images/dis-2.jpg) center;
    background-size: cover;
}

#dis_3{
    background: url(../images/dis-3.jpg) center;
    background-size: cover;
}

#dis_4{
    background: url(../images/dis-4.jpg) center;
    background-size: cover;
}

#dis_5{
    background: url(../images/dis-5.jpg) center;
    background-size: cover;
}

#dis_6{
    background: url(../images/dis-6.jpg) center;
    background-size: cover;
}